@media(max-width:1440px) {
    .photo-line img {
        width: 240px;
    }

    .overlay {
        bottom: -263px;
    }
}

@media(max-width:1200px) {
    .photo-line img {
        width: 199px;
    }

    header a {
        padding: 0 7px;
    }

    .header-menu button {
        padding: 0 38px 0 0;
    }

}

@media(max-width:1100px) {
    .section-download {
        padding: 0;
    }

    .photo-line img {
        width: 180px;
    }

    .link-footer {
        justify-content: space-around;
    }

    .parents {
        display: block;
        text-align: center;
    }

    .parents img {
        padding: 10px 0;
    }

    .col-sm-6 {
        width: unset;
    }

    .change {
        padding: 0 200px;
        text-align: center;
    }

   
    .mega-special,
    .special {
        display: none;
    }

    .header-menu {
        justify-content: space-around;
    }

    .link-footer {
        display: block;
        text-align: center;
    }

    footer .container {
        max-width: 1100px;
    }
}

@media(max-width:950px) {
    .photo-line img {
        width: 227px;
    }

    .container {
        min-width: 800px;
    }

    .parent {
        display: block;
        padding: 0 100px;
    }

    .photo-line img:nth-of-type(5) {
        display: none;
    }

    .photo-line img:nth-of-type(6) {
        display: none;
    }
    .phone{
        width: 700px;
    }

}
@media(max-width:700px){
    .photo-line img:nth-of-type(4) {
        display: none;
    }
    .container{
        min-width: 700px;
    }
}

@media(max-width:470px){
    .photo-line img {
        width: 158px;
    }
    .parents img{
        width: 500px;
    }
    .div11{
        display: none;
    }
    .phone{
        width: 460px;
    }
}

@media(max-width:390px){
    .parents img {
        width: 215pxpx;
    }
     header ul{
        display: none;
    }
    .header-menu{
        justify-content: start;
        gap: 165px;
    }
    .container{
        min-width: 310px;
    }
    .photo-line img {
        width: 128px;
    }
    .img-spacing img{
        width: 300px;
    }
    
    .phone{
        width: 360px;
    }
    .change{
        padding: 20px;
    }
    .parent{
        padding: 0 28px;
    }
    .overlay {
        bottom: -349px;
    }
    .arrow{
        padding: 45px;
    }
}
@media(max-width:387px){
    .parents img {
        width: 215px;
    }
    .phone{
        width: 300px;
    }
}


/* @media(max-width: 920px ){
    .container{
        max-width: 830px;
    }
} */